:root {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

button {
    background-color: #333;
    color: #f3f3f3;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

button:hover, .hover-pointer:hover, input[type='checkbox']:hover {
    cursor: pointer;
}
